@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-main: #101629;
    --bg-main-light: #161d37;
    --border-color: #ebf4ff2a;
}

@layer base {
    .border-b-1 {
        border-bottom-width: 1px;
    }

    .border-r-1 {
        border-right-width: 1px;
    }

    .border-b-main {
        border-bottom-color: var(--border-color);
    }

    .border-r-main {
        border-right-color: var(--border-color);
    }

    .bg-main-light {
        background-color: var(--bg-main-light);
    }

    .light .bg-main-light {
        background-color: #eee;
    }
}


* {
    font-family: 'Rubik', sans-serif;
}

body {
    background-color: var(--bg-main);
    color: #eef9ff;
}

.app {
    margin: 4em 4rem 0;
    transition: opacity .5s linear;
    -webkit-transition: opacity .5s linear;
    -moz-transition: opacity .5s linear;
    -ms-transition: opacity .5s linear;
    -o-transition: opacity .5s linear;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 'head head' 'hero bar';
}

header {
    grid-area: head;
}

.fade {
    opacity: 1;
}

.hero {
    width: 37rem;
    height: 34rem;
    grid-area: hero;
}

.side-bar {
    grid-area: bar;
    height: 40rem;
}

::-webkit-scrollbar {
    width: 0px;
}

.comp {
    @apply rounded-md p-8 mt-4;
    transition: background 0.15s;
    -webkit-transition: background 0.15s;
    -moz-transition: background 0.15s;
    -ms-transition: background 0.15s;
    -o-transition: background 0.15s;
}

.comp:not(.projects):hover {
    background-color: var(--bg-main-light);
}

body.light {
    color: black;
    background-color: white;
}

.hero a {
    transition: background 0.15s;
    -webkit-transition: background 0.15s;
    -moz-transition: background 0.15s;
    -ms-transition: background 0.15s;
    -o-transition: background 0.15s;
}

body.light .hero img {
    background-color: black;
}

body.light .side-bar .comp:not(.projects):hover {
    background-color: #eee;
}

.project h2 i {
    opacity: .7;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
}

.project:hover h2 i {
    left: 6px;
    opacity: 1;
}